In [8]:
import pandas as pd
import numpy as np
import re
import string
import nltk

In [9]:
df = pd.read_csv('D:/Pre/5000Tweet.csv')

In [10]:
df

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,5,3,1,2,0,1,"!!!!!!!!!!!!!!!!!!""@T_Madison_x: The shit just..."
1,6,3,0,3,0,1,"!!!!!!""@__BrighterDays: I can not just sit up ..."
2,10,3,0,3,0,1,""" Keeks is a bitch she curves everyone "" lol I..."
3,11,3,0,3,0,1,""" Murda Gang bitch its Gang Land """
4,12,3,0,2,1,1,""" So hoes that smoke are losers ? "" yea ... go..."
...,...,...,...,...,...,...,...
4995,9138,3,0,3,0,1,Dumb bitch leave me alone
4996,9139,3,0,3,0,1,Dumb bitches are one thing that'll never becom...
4997,9141,3,0,3,0,1,Dumb cunt
4998,9144,3,0,1,2,2,Dumpster RT @baskgod: Gahbage RT @_sirhampton_...
4999,24909,3,0,3,0,1,seriously these animal crackers have a slight ...

In [11]:
del df["count"]
del df['Unnamed: 0']
del df['hate_speech']
del df['offensive_language']
del df['neither']

In [12]:
df.pop("class")

0       1
1       1
2       1
3       1
4       1
       ..
4995    1
4996    1
4997    1
4998    2
4999    1
Name: class, Length: 5000, dtype: int64

In [13]:
df

                                                  tweet
0     !!!!!!!!!!!!!!!!!!"@T_Madison_x: The shit just...
1     !!!!!!"@__BrighterDays: I can not just sit up ...
2     " Keeks is a bitch she curves everyone " lol I...
3                    " Murda Gang bitch its Gang Land "
4     " So hoes that smoke are losers ? " yea ... go...
...                                                 ...
4995                          Dumb bitch leave me alone
4996  Dumb bitches are one thing that'll never becom...
4997                                          Dumb cunt
4998  Dumpster RT @baskgod: Gahbage RT @_sirhampton_...
4999  seriously these animal crackers have a slight ...

[5000 rows x 1 columns]

In [14]:
# Lowercasing

def lower_tweet(text):
  text = text.lower()
  return text

df['tweet'] = df['tweet'].apply(lower_tweet)

In [15]:
df

                                                  tweet
0     !!!!!!!!!!!!!!!!!!"@t_madison_x: the shit just...
1     !!!!!!"@__brighterdays: i can not just sit up ...
2     " keeks is a bitch she curves everyone " lol i...
3                    " murda gang bitch its gang land "
4     " so hoes that smoke are losers ? " yea ... go...
...                                                 ...
4995                          dumb bitch leave me alone
4996  dumb bitches are one thing that'll never becom...
4997                                          dumb cunt
4998  dumpster rt @baskgod: gahbage rt @_sirhampton_...
4999  seriously these animal crackers have a slight ...

[5000 rows x 1 columns]

In [16]:
#Remove pattern from the input text

def remove_pattern(input_text, pattern):
  r = re.findall(pattern, input_text)
  for word in r:
    input_text = re.sub(word, "", input_text)
  return input_text

In [17]:
#Remove twitter handle (@username)

df['tweet'] = np.vectorize(remove_pattern)(df['tweet'], "@[\w]*")

In [18]:
df

                                                  tweet
0     !!!!!!!!!!!!!!!!!!": the shit just blows me..c...
1     !!!!!!": i can not just sit up and hate on ano...
2     " keeks is a bitch she curves everyone " lol i...
3                    " murda gang bitch its gang land "
4     " so hoes that smoke are losers ? " yea ... go...
...                                                 ...
4995                          dumb bitch leave me alone
4996  dumb bitches are one thing that'll never becom...
4997                                          dumb cunt
4998  dumpster rt : gahbage rt : chicks that smoke a...
4999  seriously these animal crackers have a slight ...

[5000 rows x 1 columns]

In [19]:
#Remove special characters:

df['tweet'] = df['tweet'].str.replace("[^a-zA-Z#]", " ")

<ipython-input-19-0e6756691517>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['tweet'] = df['tweet'].str.replace("[^a-zA-Z#]", " ")

In [20]:
df

                                                  tweet
0                          the shit just blows me  c...
1              i can not just sit up and hate on ano...
2       keeks is a bitch she curves everyone   lol i...
3                      murda gang bitch its gang land
4       so hoes that smoke are losers     yea     go...
...                                                 ...
4995                          dumb bitch leave me alone
4996  dumb bitches are one thing that ll never becom...
4997                                          dumb cunt
4998  dumpster rt   gahbage rt   chicks that smoke a...
4999  seriously these animal crackers have a slight ...

[5000 rows x 1 columns]

In [21]:
#Tokenization

df['tweet'] = df['tweet'].apply(lambda x: x.split())

In [22]:
df

                                                  tweet
0     [the, shit, just, blows, me, claim, you, so, f...
1     [i, can, not, just, sit, up, and, hate, on, an...
2     [keeks, is, a, bitch, she, curves, everyone, l...
3                 [murda, gang, bitch, its, gang, land]
4     [so, hoes, that, smoke, are, losers, yea, go, ...
...                                                 ...
4995                    [dumb, bitch, leave, me, alone]
4996  [dumb, bitches, are, one, thing, that, ll, nev...
4997                                       [dumb, cunt]
4998  [dumpster, rt, gahbage, rt, chicks, that, smok...
4999  [seriously, these, animal, crackers, have, a, ...

[5000 rows x 1 columns]

In [23]:
#Import stopwords list

nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
stopwords[0:10]

[nltk_data] Downloading package stopwords to C:\Users\Abdullah Al
[nltk_data]     Nayeem\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [24]:
# Remove stopword from List

def remove_stopwords(tweet):
  tweets = [word for word in tweet if word not in stopwords]
  return tweets

df['tweet'] = df['tweet'].apply(lambda x: remove_stopwords(x))

In [25]:
df

                                                  tweet
0     [shit, blows, claim, faithful, somebody, still...
1     [sit, hate, another, bitch, got, much, shit, g...
2     [keeks, bitch, curves, everyone, lol, walked, ...
3                      [murda, gang, bitch, gang, land]
4                    [hoes, smoke, losers, yea, go, ig]
...                                                 ...
4995                        [dumb, bitch, leave, alone]
4996  [dumb, bitches, one, thing, never, become, ext...
4997                                       [dumb, cunt]
4998  [dumpster, rt, gahbage, rt, chicks, smoke, tra...
4999  [seriously, animal, crackers, slight, fruit, l...

[5000 rows x 1 columns]

In [ ]:
#Stemming

from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

df['tweet'] = df['tweet'].apply(lambda sentence: [stemmer.stem(word) for word in sentence])